In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
df = pd.read_csv("ssq.csv", index_col='开奖日期', parse_dates=['开奖日期'])
# df['中奖号码'].str.split('  ', expand=True).columns(['A','B','C','D','E','F','G'])
df1 = df['中奖号码'].str.split('  ', expand=True)

df1.columns = ['red1','red2','red3','red4','red5','red6','blue']

df1.index = df.index

# df1[['red1','red2','red3','red4','red5','red6']] = df1[['red1','red2','red3','red4','red5','red6']].astype('int')
df1 = df1.astype('int')
df1

            red1  red2  red3  red4  red5  red6  blue
开奖日期
2020-06-28     2     5     8    12    26    31    14
2020-06-25     1     5     7    23    28    30    12
2020-06-23     3    10    19    25    26    31     2
2020-06-21     2    14    15    16    32    33     1
2020-06-18     2     8    13    29    32    33    15
...          ...   ...   ...   ...   ...   ...   ...
2003-04-06     8    13    17    21    23    32    12
2003-04-03     2    12    16    17    27    30    12
2003-03-30     4     5    11    12    30    32    15
2003-03-27     1     2     8    13    17    24    13
2003-03-23     5     9    18    20    22    30     9

[1062 rows x 7 columns]